{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-sm">

      <div class="gh-card">
        <div class="gh-card-header">
          <div class="row">
            <div class="col-md-7">
              <h3 class="icon-title">
                {% include "svg/icon-header-plant.html" %}
                Listado de grupos
              </h3>
            </div>
            <div class="gh-card-action">
              <div class="btn-group">
                  <a class="btn btn-list btn-sm" href="{% url 'greenhouse.plants' %}">Plantas</a>
                <a class="btn btn-make btn-sm" href="{% url 'greenhouse.groups.create' %}">Nuevo Grupo</a>
              </div>
            </div>
          </div>
          {% if is_paginated %}
          <div class="row">
            <div class="col-12 mt-4">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link"
                      href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                  {% endif %}
                  {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span
                        class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
          {% endif %}
        </div>
        {% if object_list %}
        <table class="gh-table gh-table-sm gh-table-responsive gh-table-responsive-last-actions">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr>
              <td>{{object.label}}</td>
              <td>
                <a class="btn btn-action-view btn-sm" href="{% url 'greenhouse.groups.detail' object.pk %}">Ver</a>
                <a class="btn btn-action-update btn-sm"
                  href="{% url 'greenhouse.groups.update' object.pk %}">Editar</a>

                {% if object.is_deleted == None %}
                <a class="btn btn-action-delete btn-sm btn-sm"
                  href="{% url 'greenhouse.groups' %}?id={{ object.pk }}&action=delete&page=1">Eliminar</a>
                {% else %}
                <a class="btn btn-action-restore btn-sm btn-sm"
                  href="{% url 'greenhouse.groups' %}?id={{ object.pk }}&action=restore&page=1">Restaurar</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        {% endif %}
        {% if is_paginated %}
        <div class="card-footer">
          <div class="row">
            <div class="col-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link"
                      href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                  {% endif %}
                  {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span
                        class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        {% endif %}

      </div>

    </div>
  </div>
</div>


{% endblock %}