{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="gh-card my-4">
                <div class="gh-card-header">
                    <h3>Nueva Grupo</h3>
                </div>
                <div class="gh-card-body gh-card-body-pad">

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if messages %}
                        <div class="gh-errors-form alert-dismissible fade show alert alert-danger" role="alert"">
                           
                            <ul class=" messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                                </ul>
                                
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        {% endif %}

                        <input type="submit" class="btn btn-action-save btn-sm" value="Guardar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}