{% extends "base_generic.html" %}
{% load qr_code %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm">
            <div class="gh-card">
                <div class="gh-card-header">
                    <h3>Detalle de Grupo</h3>
                    <div class="gh-card-header--actions">
                        <a class="btn btn-action-update btn-sm"
                            href="{% url 'greenhouse.groups.update' object.pk %}">Editar</a>
                    </div>
                </div>
                <div class="gh-card-body gh-card-body-pad">
                    <div class="row">
                        <div class="col-sm-7">
                            <p>
                                <label for="id_code">Nombre: {{object.label}}</label>
                            </p>
                            <div>{{object.slug}}</div>
                            <div><code>{{object_url}}</code></div>
                            </p>
                        </div>
                        <div class="col-sm-5 text-right">
                            {% qr_from_text object_url size="S" %}
                        </div>
                    </div>



                </div>
                <div class="gh-card-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="gh-card my-4">
        <div class="gh-card-header">
            <h3 class="card-title">Plantas</h3>
        </div>
        <div>
            <div class="row">
                <div class="col-sm">
                    {% if plant_list %}
                    <table class="gh-table gh-table-sm gh-table-responsive gh-table-responsive-last-actions">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plant in plant_list %}
                            <tr>
                                <td>{{plant.code}}</td>
                                <td>{{plant.plant_type}}</td>

                                <td>
                                    <a class="btn btn-action-view btn-sm"
                                        href="{% url 'greenhouse.plants.detail' plant.pk %}">Ver</a>
                                    <a class="btn btn-action-update btn-sm"
                                        href="{% url 'greenhouse.plants.update' plant.pk %}">Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="gh-card-body gh-card-body-pad">
                        <div class="gh-not-result">Aun no existen plantas asignadas</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}