{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="gh-card mt-4">
                <div class="gh-card-header">
                    <h3>Nueva planta </h3>
                </div>
                <div class="gh-card-body gh-card-body-pad">

                    <div class="gh-errors-form">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <form method="post" id="form">{% csrf_token %}
                        <p id="type" data-id="{{object.plant_type.id}}" data-label="{{object.plant_type.label}}">
                            <label for="">Tipo</label>
                        </p>
                        <p
                            id="group"
                            data-id="{{object.group.id}}{{prev_group.id}}"
                            data-label="{{object.group.label}}{{prev_group.label}}"
                        >
                            <label for="">Grupo</label>
                        </p>
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-action-save btn-sm" value="Guardar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {

        makeSmartSelect({
            id: '#type',
            key: "plant_type",
            url: '/greenhouse/plant-types/?format=json&q_label=',
            labelTemplate: function (element) {
                return element.sub_type + ' - ' + element.label;
            },
        })

        makeSmartSelect({
            id: '#group',
            key: "group",
            url: '/greenhouse/groups/?format=json&q_label=',
            labelTemplate: function (element) {
                return element.label;
            },
        })

    })()
</script>
{% endblock %}