{% extends "base_generic.html" %}
{% load qr_code %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm">
            <div class="gh-card">
                <div class="gh-card-header">
                    <h3 class="d-inline-block">Detalle de planta</h3>
                    <div class="gh-card-action text-right">
                        <div class="btn-group">
                            <a class="btn btn-list btn-sm" href="{% url 'greenhouse.plants' %}">Plantas</a>
                            <a class="btn btn-action-update btn-sm"
                                href="{% url 'greenhouse.plants.update' object.pk %}">Editar</a>
                            <a class="btn btn-make btn-sm" href="{% url 'greenhouse.controls.create' object.pk %}">Nuevo
                                Control</a>
                        </div>

                    </div>

                </div>
                <div class="gh-card-body gh-card-body-pad">
                    <div class="row">
                        <div class="col-sm-7">
                            <p>
                                <label for="id_code">Código: {{object.code}}</label>
                            </p>
                            <p><label for="id_birthdate">Birthdate: {{object.birthdate}}</label>
                            </p>
                            <p><label for="id_death_date">Death date: {{object.death_date}}</label>
                            </p>
                            <p>
                                <label for="id_death_date">Grupo: <a class="bbtn btn-action-view btn-sm"
                                        href="{% url 'greenhouse.groups.detail' object.group.pk %}">{{object.group}}</a></label>

                            </p>
                            <p>
                                <div>{{object.slug}}</div>
                                <div><code>{{object_url}}</code></div>
                            </p>
                        </div>
                        <div class="col-sm-5 text-right">
                            {% qr_from_text object_url size="S" %}
                        </div>
                    </div>



                </div>
                <div class="gh-card-footer">

                </div>
            </div>
        </div>
    </div>



    {% if control_list %}
    <div class="row my-4">
        <div class="col">
            <div class="gh-card">
                <div class="gh-card-body gh-card-body-pad">
                    <canvas id="humidity_list" width="400" height="100"></canvas>
                    <canvas id="temperature_list" width="400" height="100"></canvas>
                    <canvas id="weight_list" width="400" height="100"></canvas>
                    <canvas id="height_list" width="400" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="gh-card my-4">
        <div class="gh-card-header">
            <h3 class="gh-card-title">Controles</h3>
        </div>
        <div>
            <div class="row">
                <div class="col-sm">
                    {% if control_list %}
                    <table class="gh-table gh-table-sm gh-table-responsive gh-table-responsive-last-actions">
                        <thead>
                            <tr>
                                <th scope="col">Capturado</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Humedad</th>
                                <th scope="col">Altura</th>
                                <th scope="col">Peso</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for control in control_list %}
                            <tr>
                                <td>{{control.capture_date}}</td>
                                <td>{{control.temperature}}</td>
                                <td>{{control.humidity}}</td>
                                <td>{{control.height}}</td>
                                <td>{{control.weight}}</td>

                                <td><a class="btn btn-action-update btn-sm"
                                        href="{% url 'greenhouse.controls.update' control.pk %}">Editar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="gh-card-body gh-card-body-pad">
                        <div class="gh-not-result">Aun no existen controles</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    {% if control_list %}
    (() => {
        Chart.defaults.global.defaultFontFamily = "Arial, Sans, Helvetica, Ubuntu";
        Chart.defaults.global.defaultFontSize = 10;
        const makeLinearChart = (idCanvas, data, key, borderColor, label, orderBy) => {
            const list = data.map(e => ({ y: e[key], x: e[orderBy] })).filter(e => e.y !== null);
            const chartOptions = {
                legend: { display: true, labels: { fontColor: 'rgb(255, 99, 132)' } },
                scales: { xAxes: [{ type: 'time', time: { unit: 'week' } }] }
            };
            return new Chart(document.getElementById(idCanvas), {
                type: 'line',
                data: {
                    datasets: [{ label, data: list, fill: true, borderColor }]
                }, options: chartOptions
            });
        }
        fetch(window.location.href + '?format=json')
            .then(resp => resp.json())
            .then(data => {
                const d = 'capture_date';
                const dataRemap = data.control_list
                    .filter(e => e[d] !== null)
                    .map(e => ({ ...e, [d]: moment(new Date(e[d])).format("YYYY-MM-DD HH:mm") }))
                    .sort((a, b) => b[d] - a[d]);
                makeLinearChart('humidity_list', dataRemap, 'humidity', '#28a745', "Humedad", d);
                makeLinearChart('height_list', dataRemap, 'height', '#007bff', "Altura", d);
                makeLinearChart('temperature_list', dataRemap, 'temperature', '#dc3545', "Temperatura", d);
                makeLinearChart('weight_list', dataRemap, 'weight', '#795548', "Peso", d);
            })
    })();
    {% endif %}
</script>
{% endblock %}