<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/public/css/style.css">
</head>

<body>
    {% block content %}

    {% endblock %}
    <script src="/static/public/3tr/moment-with-locales.min.js"></script>
    <script src="/static/public/3tr/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/public/3tr/popper.min.js"></script>
    <script src="/static/public/3tr/bootstrap.min.js"></script>
    <script src="/static/public/3tr/Chart.min.js"></script>
    <script src="/static/public/js/main.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>